<Project xmlns="http://schemas.postsharp.org/1.0/configuration" x:xmlns="http://schemas.postsharp.org/1.0/configuration">  <License Value="78173-ZE7Z6QQQATQZT6AQQQQQQQQQQQANAEDV56MCNGGVQDGQHYFCS6KR7BDVQA6BXGDVA6KBNBFVSE2CWESFVA6BXGDVA6KBNBFVEQZCKJGG25JUPGJCCQCCQSQ2ZAADKNWFZP2J4QAHZR2XZSJ8HF3SQYLWL6HEGNXBVHJ927TE9DAKVAX5ETZNQQRZAUPA"/></Project>